UDMC_HOST=127.0.0.1
UDMC_PORT=3077
UDMC_DATA_DIR=./data
UDMC_ADMIN_TOKEN=change-me
UDMC_PACK_ID=udmc-main
UDMC_PACK_NAME=UDMC Main Modpack
UDMC_MINECRAFT_VERSION=1.20.1
UDMC_LOADER_TYPE=fabric
UDMC_LOADER_VERSION=0.16.9
